<body>
    <div class="wrapper-en">
    <div class="card" style="width: 25rem;">
        <div class="card-header">
            <h1>Welcome Back</h1>
        </div>
        <div class="card-body">
            <div class="container">
                <form [formGroup]="loginForm" (ngSubmit)="login(userId.value)">
                    <div class="form-group">
                        <label for='userNameId'>User Name</label>
                        <div class="col">
                            <input class="form-control" id="userNameId" type="text" placeholder="Username (required)" #userId
                                formControlName="userName"
                                [ngClass]="{'is-invalid': submitted && loginForm.get('userName').errors}" />
                            <span class="invalid-feedback">
                                <span *ngIf=" submitted && loginForm.get('userName').errors?.required">
                                    Please enter your username name.
                                </span>
                                <span *ngIf=" submitted && loginForm.get('userName').errors?.minlength">
                                    The user name must be longer than 3 characters.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for='PasswordId'>Password</label>
                        <div class="col">
                            <input class="form-control" id="PasswordId" type="password"
                                placeholder="Password (required)" formControlName="password"
                                [ngClass]="{'is-invalid': submitted && loginForm.get('password').errors}" />
                            <span class="invalid-feedback">
                                <span *ngIf=" submitted && loginForm.get('password').errors?.required">
                                    Please enter your password
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="btn-toolbar ">
                        <button class="btn btn-primary mr-1">Login</button>
                        <!-- <button class="btn btn-secondary"> Cancel </button> -->
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
<body>