.card-header {
    text-align: center;
    background-color: rgb(204, 242, 255);
}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    
}
.wrapper-en{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
body {
    
    background: url("/assets/blue-butterfly-background-4057187_960_720.webp") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}